{# dashboard/templates/dashboard/admin_dashboard.html #}
{% extends 'base.html' %}

{# Définit le titre de la page #}
{% block title %}{{ page_title }}{% endblock %}

{# Définit le contenu principal #}
{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    {# Exemple de mise en page avec des cartes Bootstrap pour afficher des statistiques #}
    <div class="row">
        <div class="col-md-4"> {# Une colonne qui prend 4/12 sur les écrans moyens et plus grands #}
            <div class="card text-white bg-primary mb-3"> {# Carte bleue #}
                <div class="card-header">Utilisateurs Enregistrés</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_users }}</h5> {# Affiche le nombre total d'utilisateurs #}
                    <p class="card-text">Nombre total d'utilisateurs inscrits sur la plateforme.</p>
                </div>
            </div>
        </div>

        {# Ajoutez d'autres cartes pour afficher d'autres statistiques ou informations #}
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3"> {# Carte verte #}
                <div class="card-header">Articles saisie</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_articles }}</h5>
                    <p class="card-text">Nombre total des articles</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-info mb-3"> {# Carte bleue ciel #}
                <div class="card-header">Nombre des Demande</div>
                <div class="card-body">
                    <h5 class="card-title">...</h5>
                    <p class="card-text">Quelque information importante ici.</p>
                </div>
            </div>
        </div>
    </div>

    {# Vous pouvez ajouter d'autres sections ici, comme des tables des derniers utilisateurs, etc. #}

{% endblock %}